@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  height: 100vh;
}

#root, .App {
  height: 100%;
}

*,*:before,*:after  {
  box-sizing: border-box;
}